USE [master]
GO
/****** Object:  Database [DbEstoque]    Script Date: 03/03/2020 22:45:50 ******/
CREATE DATABASE [DbEstoque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbEstoque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbEstoque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbEstoque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbEstoque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbEstoque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbEstoque]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [varchar](100) NOT NULL,
	[Name] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](100) NOT NULL,
	[ClaimType] [varchar](100) NULL,
	[ClaimValue] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [varchar](100) NOT NULL,
	[ProviderKey] [varchar](100) NOT NULL,
	[UserId] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [varchar](100) NOT NULL,
	[RoleId] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [varchar](100) NOT NULL,
	[Email] [varchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [varchar](100) NULL,
	[SecurityStamp] [varchar](100) NULL,
	[PhoneNumber] [varchar](100) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ProdutoId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](250) NOT NULL,
	[PrecoCusto] [decimal](18, 2) NOT NULL,
	[PrecoVenda] [decimal](18, 2) NOT NULL,
	[ProdutoComposto] [bit] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Liberado] [bit] NOT NULL,
	[Excluido] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Produto] PRIMARY KEY CLUSTERED 
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutoComposto]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoComposto](
	[ProdutoId] [int] NOT NULL,
	[ProdutoComposicaoId] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProdutoComposto] PRIMARY KEY CLUSTERED 
(
	[ProdutoId] ASC,
	[ProdutoComposicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisicao]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisicao](
	[RequisicaoId] [int] IDENTITY(1,1) NOT NULL,
	[DataRequisicao] [datetime] NOT NULL,
	[Usuario_Id] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.Requisicao] PRIMARY KEY CLUSTERED 
(
	[RequisicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequisicaoProduto]    Script Date: 03/03/2020 22:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisicaoProduto](
	[RequisicaoId] [int] NOT NULL,
	[ProdutoId] [int] NOT NULL,
	[PrecoAtual] [decimal](18, 2) NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RequisicaoProduto] PRIMARY KEY CLUSTERED 
(
	[RequisicaoId] ASC,
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'c43c6203-25a3-4589-8e3b-2e614c671b35', N'michell_mrz@hotmail.com', 0, N'AO3IdJeTk9B7uJwHXIFVUe3r7VpEaVh7BISF8PyMgndosrZl2apB4Zu6k1ewXzcwug==', N'ee76fb1c-caa5-456c-8c3a-b2945a47d491', NULL, 0, 0, NULL, 1, 0, N'michell_mrz@hotmail.com')
SET IDENTITY_INSERT [dbo].[Produto] ON 

INSERT [dbo].[Produto] ([ProdutoId], [Nome], [PrecoCusto], [PrecoVenda], [ProdutoComposto], [DataCadastro], [DataAtualizacao], [Liberado], [Excluido]) VALUES (1, N'Arroz 5kg', CAST(7.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 0, CAST(N'2020-03-03T17:39:09.610' AS DateTime), NULL, 1, 0)
INSERT [dbo].[Produto] ([ProdutoId], [Nome], [PrecoCusto], [PrecoVenda], [ProdutoComposto], [DataCadastro], [DataAtualizacao], [Liberado], [Excluido]) VALUES (2, N'Feijão 1kg', CAST(6.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(18, 2)), 0, CAST(N'2020-03-03T17:41:32.223' AS DateTime), NULL, 1, 0)
INSERT [dbo].[Produto] ([ProdutoId], [Nome], [PrecoCusto], [PrecoVenda], [ProdutoComposto], [DataCadastro], [DataAtualizacao], [Liberado], [Excluido]) VALUES (3, N'Leite 1lt', CAST(4.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(18, 2)), 0, CAST(N'2020-03-03T17:41:59.583' AS DateTime), CAST(N'2020-03-03T17:42:40.643' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Produto] OFF
INSERT [dbo].[ProdutoComposto] ([ProdutoId], [ProdutoComposicaoId], [Quantidade]) VALUES (5, 1, 2)
INSERT [dbo].[ProdutoComposto] ([ProdutoId], [ProdutoComposicaoId], [Quantidade]) VALUES (5, 2, 2)
INSERT [dbo].[ProdutoComposto] ([ProdutoId], [ProdutoComposicaoId], [Quantidade]) VALUES (5, 3, 2)
SET IDENTITY_INSERT [dbo].[Requisicao] ON 

INSERT [dbo].[Requisicao] ([RequisicaoId], [DataRequisicao], [Usuario_Id]) VALUES (1, CAST(N'2020-03-03T21:33:35.833' AS DateTime), N'c43c6203-25a3-4589-8e3b-2e614c671b35')
INSERT [dbo].[Requisicao] ([RequisicaoId], [DataRequisicao], [Usuario_Id]) VALUES (2, CAST(N'2020-03-03T21:34:17.737' AS DateTime), N'c43c6203-25a3-4589-8e3b-2e614c671b35')
INSERT [dbo].[Requisicao] ([RequisicaoId], [DataRequisicao], [Usuario_Id]) VALUES (3, CAST(N'2020-03-03T22:11:54.987' AS DateTime), N'c43c6203-25a3-4589-8e3b-2e614c671b35')
SET IDENTITY_INSERT [dbo].[Requisicao] OFF
INSERT [dbo].[RequisicaoProduto] ([RequisicaoId], [ProdutoId], [PrecoAtual], [Quantidade]) VALUES (1, 5, CAST(35.00 AS Decimal(18, 2)), 12)
INSERT [dbo].[RequisicaoProduto] ([RequisicaoId], [ProdutoId], [PrecoAtual], [Quantidade]) VALUES (2, 2, CAST(9.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[RequisicaoProduto] ([RequisicaoId], [ProdutoId], [PrecoAtual], [Quantidade]) VALUES (2, 3, CAST(6.00 AS Decimal(18, 2)), 12)
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 03/03/2020 22:45:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 03/03/2020 22:45:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProdutoComposicaoId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProdutoComposicaoId] ON [dbo].[ProdutoComposto]
(
	[ProdutoComposicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProdutoId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProdutoId] ON [dbo].[ProdutoComposto]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Id]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Id] ON [dbo].[Requisicao]
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProdutoId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProdutoId] ON [dbo].[RequisicaoProduto]
(
	[ProdutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequisicaoId]    Script Date: 03/03/2020 22:45:50 ******/
CREATE NONCLUSTERED INDEX [IX_RequisicaoId] ON [dbo].[RequisicaoProduto]
(
	[RequisicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProdutoComposto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProdutoComposto_dbo.Produto_ProdutoComposicaoId] FOREIGN KEY([ProdutoComposicaoId])
REFERENCES [dbo].[Produto] ([ProdutoId])
GO
ALTER TABLE [dbo].[ProdutoComposto] CHECK CONSTRAINT [FK_dbo.ProdutoComposto_dbo.Produto_ProdutoComposicaoId]
GO
ALTER TABLE [dbo].[ProdutoComposto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProdutoComposto_dbo.Produto_ProdutoId] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produto] ([ProdutoId])
GO
ALTER TABLE [dbo].[ProdutoComposto] CHECK CONSTRAINT [FK_dbo.ProdutoComposto_dbo.Produto_ProdutoId]
GO
ALTER TABLE [dbo].[Requisicao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Requisicao_dbo.AspNetUsers_Usuario_Id] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Requisicao] CHECK CONSTRAINT [FK_dbo.Requisicao_dbo.AspNetUsers_Usuario_Id]
GO
ALTER TABLE [dbo].[RequisicaoProduto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RequisicaoProduto_dbo.Produto_ProdutoId] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produto] ([ProdutoId])
GO
ALTER TABLE [dbo].[RequisicaoProduto] CHECK CONSTRAINT [FK_dbo.RequisicaoProduto_dbo.Produto_ProdutoId]
GO
ALTER TABLE [dbo].[RequisicaoProduto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RequisicaoProduto_dbo.Requisicao_RequisicaoId] FOREIGN KEY([RequisicaoId])
REFERENCES [dbo].[Requisicao] ([RequisicaoId])
GO
ALTER TABLE [dbo].[RequisicaoProduto] CHECK CONSTRAINT [FK_dbo.RequisicaoProduto_dbo.Requisicao_RequisicaoId]
GO
USE [master]
GO
