@model WEB.ViewModels.HomeViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Início</h1>
            </div><!-- /.col -->
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Projeto Estoque</h1>
            <p class="lead">Gerenciamento de produtos e requisições </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.ProdutosQuantidade</h3>

                        <p>Produtos Cadstrados</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-bag"></i>
                    </div>
                    <a href="/produto" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.RequisicoesQuantidade</h3>

                        <p>Requisições Efetuadas</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <a href="/requisicao" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.UsuariosQuantidade</h3>

                        <p>Usuários Registrados</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</div>

