@model IList<WEB.ViewModels.RelatorioSaidaEstqViewModel>

@{
    ViewBag.Title = "Saída de Estoque";
}
    <style>
        .errorMessage {
            color: red;
        }
    </style>
<div class="titulo-invoice">
    <h4>Relatório de Saída de Estoque</h4>
    <hr />
</div>
<div class="invoice">
    <div class="errorMessage">
        @ViewBag.Error
    </div>
    @using (Html.BeginForm())
    {
        <div class="row" style="margin-bottom: 30px;">

            <div class="col-md-3">
                <label>Data Inicio</label>
                <input type="text" id="dataInicial" name="dataInicio" class="form-control datePickerField" value="@(ViewBag.DataInicio ?? String.Empty)" autocomplete="off" />
            </div>
            <div class="col-md-3">
                <label>Data Fim</label>
                <input type="text" id="dataFinal" name="dataFim" class="form-control datePickerField" value="@(ViewBag.DataFim ?? String.Empty)" autocomplete="off" />
            </div>
            <div class="col-md-1" style="margin-top:30px">
                <input type="submit" value="Gerar Relatório" class="btn btn-success" />
            </div>
        </div>
    }
    @if (Model != null && Model.Count > 0)
    {
        Html.RenderPartial("~/Views/Relatorio/_RelatorioSaida.cshtml", Model);
    }
</div>


@section scripts
{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('datePickerField').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });            
        });
    </script>
}